<nav class="navbar navbar-expand navbar-light bg-transparent topbar static-top" style="padding: 0px;">
    <div class="d-flex justify-content-between w-100">
        <ul class="navbar-nav">
            <!-- Nav Item - Alerts -->             
            <li class="nav-item dropdown no-arrow mx-1" *ngFor="let notification of notifications">
                <a class="nav-link dropdown-toggle" [href]="notification.redirectUrl" title="{{ notification.tooltip }}" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img [src]="notification.iconUrl" [alt]="notification.tooltip" />
                    <span *ngIf="notification.notificationCount > 0" class="badge badge-danger badge-counter size">{{ notification.notificationCount }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

